extends layout.pug  
block scripts
  link(rel="stylesheet" type="text/css" href="../bootstrap.min.css")
  link(rel="stylesheet" type="text/css" href="../styles.css")
  script(src='../bootstrap/jquery-3.3.1.min.js')
  script(src='../bootstrap/popper.min.js')
  script(src='../bootstrap/bootstrap.min.js')
  script(src='../main.js')
block content
  center
    ul
     each val in Datas
       include stepHandler.pug
