.card(id=val._id)
  if val.delete === "false"
    if val.done === "false"
      img(src="../image/x.png" height="50px" width="50px").xpng
    else
      img(src="../image/o.png" height="50px" width="50px").opng
    h2(id=val.item)  #{val.item}
    button.btn.btn-primary(type='submit') delete
    
