extends layout.pug
block content
  center
    form(method='POST' action='/stepForm')
        div.form-group
          h1
            label(for='Title') Step:
          input#Goal.form-control(type='step', placeholder='Step' name='item')
          h1
            label(for='Title') Goal it belongs to:
          input#Goal.form-control(type='goal', placeholder='Goal' name='goal')
          h1
            label(for='Title') Due date:
          input#Goal.form-control(type='date' name='dueDate')  
        button.btn.btn-primary(type='submit') Send
