h1{
  font-size: 50px;
	color: #5697cc;
}
h2{
  font-size: 25px;
	color: #a1ea80;
}
h3{
  font-size: 20px;
	color: #a1ea80;
}
#title, #url2, #picture2, #Subtitle, #Picked,#email,#username,#password,#Password2{
  width: 400px
}
body{
  background-color: #c8c8ea;
}
#text2{
  width: 550px;
  height: 150px;
  resize: vertical;
}
p,div{
  font-size: 17px;
	color: #5697cc;
}
nav{
  background-color: #c880ea;
}
a{
  font-size: 25px;
}
#text3{
  width: 550px;
  height: 150px;
  resize: none;
}
#login{
  font-size: 150px;
  color: #5697cc;
  font-family: Chalkduster;
}

.card{
  background-color: #c880ea;
  min-width: 500px;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  flex-direction: row;
}
#card{
  font-size: 100px;
}

#Goal{
  width: 40%;
  height: 50px;
}
.goal{
  margin-left: 20px;
  margin-right: 20px;
}
